<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <script src="https://unpkg.com/vue"></script>

    <style>
        html, body, .container, #row-main {
            height: 100%;
        }

        #row-main {
            margin: 0px;
        }

        .left-col {
            height: 100%;
        }

        .right-col {
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }

        .range-field {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="row-main" class="row">
            <div class="left-col col s8">
                <div style="width: 100%; height: 100%">
                    <canvas id="loreCanvas" style="height:100%; width:100%">
                    </canvas>
                </div>
            </div>
            <div class="right-col col s4">
                <h3>Lore.js Demo</h3>
                <input id="csv" type="file"></input>
                <p id="fps"></p>
                <div id="app">
                    <div class="row">
                        <div class="col s12">
                            <div id="hovered">{{hoveredValue}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input id="cutoff-button" type="button" value="Set Cutoff"></input>
                            <label>Filter by Color</label>
                            <p class="range-field">
                                <input id="filter" type="range" min="0.0" max="1.0" step="0.05" value="0" v-on:input="filter"></input>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <label>Distance to LookAt</label>
                            <p class="range-field">
                                <input id="radius" type="range" min="0" max="5000" step="1" v-model="radius" v-on:input="updateRadius"></input>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <label>Fog Start Distance</label>
                            <p class="range-field">
                                <input id="fogStart" type="range" min="0" max="5000" step="1" v-model="fogStart" v-on:input="updateFog"></input>
                            </p>
                        </div>
                        <div class="col s6">
                            <label>Fog End Distance</label>
                            <p class="range-field">
                                <input id="fogEnd" type="range" min="0" max="5000" step="1" v-model="fogEnd" v-on:input="updateFog"></input>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s4">
                            <label>LookAt (X)</label>
                            <p class="range-field">
                                <input id="lookAtX" type="range" min="-500" max="500" step="1" v-model="lookAtX" v-on:input="updateLookAt"></input>
                            </p>
                        </div>
                        <div class="col s4">
                            <label>LookAt (Y)</label>
                            <p class="range-field">
                                <input id="lookAtY" type="range" min="-500" max="500" step="1" v-model="lookAtY" v-on:input="updateLookAt"></input>
                            </p>
                        </div>
                        <div class="col s4">
                            <label>LookAt (Z)</label>
                            <p class="range-field">
                                <input id="lookAtZ" type="range" min="-500" max="500" step="1" v-model="lookAtZ" v-on:input="updateLookAt"></input>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select onchange="app.changeView(this.value);">
                                <option value="" disabled selected>Select a View Option</option>
                                <option value="top">Top View</option>
                                <option value="front">Front View</option>
                                <option value="back">Back View</option>
                                <option value="left">Left View</option>
                                <option value="right">Right View</option>
                                <option value="free">Free View</option>
                            </select>
                            <label>View</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn-flat" v-on:click="zoomIn">Zoom In</a>
                            <a class="waves-effect waves-light btn-flat" v-on:click="zoomOut">Zoom Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="../dist/lore.js"></script>
    <script src="app.js"></script>

    <script>
        // Initialize materialize elements
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</body>
</html>
